./env/*
env/
.env/
plotting/saved_plots
./pyrosim/**
pyrosim
pyrosim/
pyrosim/__pycache__/*
notebooks
notebooks/*
plots/
./data/*
data/
*.swp
*.swo
*.urdf
*.nndf
*.pyc
.DS_STORE
gen_timing.txt
__pycache__/
fitness*.txt
log.txt
experiments/
best_robots/
sa_pairs_save.pkl
*.exp